body.dark-mode {
    background-color: black;
    color: white;
}

.navbar.dark-mode,
.button.dark-mode,
.project-card.dark-mode,
.footer-icon.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode .nav-title,
.dark-mode .nav-blog,
.dark-mode .header-text,
.dark-mode .body-text,
.dark-mode .subheader-text .dark-mode .body-text a.underline {
    color: white;
}

.dark-mode .button {
    background-color: white;
}

.dark-mode .button:hover {
    background-color: #7F7EFF;
    text-decoration-thickness: 1.5px;
}

.dark-mode span.nav-title:hover {
    color: #7F7EFF;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.dark-mode span.nav-blog:hover {
    color: #7F7EFF;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.dark-mode .blog-card {
    background-color: #6619d0;
    border: 1px solid black;
    color: white;
}

.dark-mode a.tag-blog {
    border: 2px solid white;
}

.dark-mode .blog-card-content,
.dark-mode .blog-card-content .blog-card-title,
.dark-mode .blog-card-content .blog-card-datetime,
.dark-mode .blog-card-content .blog-card-description,
.dark-mode .blog-card-content .tag-blog,
.dark-mode .blog-card-content .tag-blog .button-text {
    color: #F8F7F9;
}

.dark-mode .button:hover .button-text {
    color: white;
}

.dark-mode .button .button-text {
    color: black;
}

.dark-mode .blog-card-title {
    color: black;
}

.dark-mode .blog-card-description {
    color: black;
}

/* Change the right-arrow icon color to white on button hover in dark mode */
.dark-mode .button:hover .right-arrow-icon {
    filter: invert(1);
}

/* Theme toggle icon styling */
button#theme-toggle {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.theme-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
}

.dark-mode .tag {
    background-color: white;
}


.dark-mode .tag .button-text {
    color: black;
}